body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 80vh;
    width: 100%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.spacer {
    margin:5px;
}

#form-id {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:first baseline;
    align-content: flex-start;
    height:100vh;
    /* border: 2px solid black; */
}
#wiki_title{
    flex:0 1 auto;
}

#wiki_content{
    height: 80vh;
    width: 100%;
}

#form-submit-btn {
    flex: 0.1 0 auto;
    /* flex-flow: wrap; */
    align-self: flex-end;
    margin-top: 10px;
    /* padding: 0px 15px 0px 15px;
    margin:20px 0px 20px 60px; */
}