html, body {
    height: 100%;
  }

.container{
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#links {

  padding-right: 30px;
  font-size: small;
  align-self: flex-end;
  float:right;

}

#links a {
    color: black;
    padding-left: 6px;
    padding-right: 6px;
  }


.top-static-rows{
    width: 100%;
}

.search-body{
    width: 100%;
}

#google-logo{
    max-width: 85px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-class{
    display: flex;
    flex-direction: column;
    padding-left: 3em;
}

.input-class{
    display: flex;
    flex-direction: column;
}

.flex-row-body input{
    outline-color: #4285F4;
    border-color: rgba(211,211,211,.5);
    border-width: thin;
}

.form-class input:focus{
    border-color: rgba(66, 133, 244);
    box-shadow: inset 1px 1px 2px gray;
}

.flex-row-body{
    display: flex;
    position: relative;
    padding-bottom: 20px;
    flex-wrap: wrap;
    height: 38px;
}

.flex-row-body h6{
    font-size: smaller;
}

.filler {
    flex-grow: 1;
  }

.left-row{
    width: 12%;
    white-space: nowrap;
  }

.middle-row{
    width: 40vw;
    height: 30px;
}

.right-row{
    width: 25%;
    padding-left: 40px;
    font-weight: light;
    font-size: .68em;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

#submit-button{
    border:0;
    width: 14em;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color:#4285F4;
    color: white;
    font-weight: bold;
}

#submit-button:hover{
    background-color: #3b7de7;
    box-shadow: inset 0px -1px 10px dimgray;
}

.search-button-class{
    padding-left: 12%;
}


@media screen and (max-width: 1400px) {
    .search-button-class{
        padding-left: 0%;
    }

    .middle-row{
        position: fixed;
        left: 210px;
        width: 40vw;
        height: 30px;
    }

    .right-row {
        display: none !important;
    }
}
