{% extends "auctions/layout.html" %}
{% load static %}
{% block head %} 

{% endblock head %}

{% block body %}
    {% if user.is_authenticated %}
        
        <div class="valid_user_menu">
            <form action="{% url 'add_watchlist' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <input type="submit" value="watchlist">
            </form>
        </div>     
        
    {% endif %}
    <h2>{{ item.title }}</h2>
    <image class="itemPicture" src="{{ item.item_picture }}" alt="{{ item.title }}"></image>
    <h6>{{item.description}}</h6>
    <h6>{{item.category}}</h6>
    <h6><strong>Price: </strong>${{item.starting_bid}}</h6>
    
{% endblock %}