{% extends "auctions/layout.html" %}
{% load static %}
{% block head %} 
<style>
    a{
        text-decoration: none;
        color: black;
    }
    a:link{
        text-decoration: none;
    }
    a:hover{
        color: #2596be;
    }
</style>
{% endblock head %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>Watchlist for user {{ user.username }}</h2>
        {% for item,watchlist in items %}

            {% if watchlist.item_active %}
                <ul>
                    <a href="{% url 'item_page' item_id=item.id %}">
                        <li>{{ item.title }}</li>
                    </a>
                </ul>
            {% endif %}


        {% endfor %}

    {% endif %}
{% endblock %}