{% extends "encyclopedia/layout.html" %} 
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'encyclopedia/form-styles.css' %}">
    {% if error %}
    <style>
        textarea {
            height: 70vh;
            width: 100%;
        }
    </style>
    {% endif %}
{% endblock head %}

{% block title %}
    New Entry 
{% endblock title %}

{% block body %}
    <div>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{error | safe}}</div>
        {% endif %}
        <form action="{% url 'new_page' %}" method="post" id="form-id" autocomplete="off">
            {% csrf_token %}
            {{form.title}}
            <div class="spacer"></div>
            {{form.content}}
            <input class="btn btn-primary" type="submit" id="form-submit-btn" value="Submit">
        </form> 

    </div>
{% endblock body %}