{% extends "auctions/layout.html" %}
{% load static %}
{% block head %} 
<style>
    html, body {
        height: 100%;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:link{
        text-decoration: none;
    }
    a:hover{
        color: #0268D9;
    }
    .auctionItem{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height:300px;
        width: 98%;
        margin:10px;
        padding:10px;
        background-color: #FFFFFF;
    }
    .auctionItem:hover{
        background-color: #0268D9;
        color: white;
    }
    .itemPicture{
        height: 250px;
        width: 300px;
        margin-right: 80px;
    }
    .dropbtn {
        background-color: #FFFFFF;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        }

    .dropdown {
        position: relative;
        display: inline-block;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #0268D9; color: white;}
</style>
{% endblock head %}

{% block body %}
    
    {% if user.is_authenticated %}
        <div style="display:flex; justify-content: flex-start;">
            <!-- <h2>Active Listings</h2> -->
            {% if categories %}
            <div class="dropdown" style="margin-left: 10px;">
                <button class="dropbtn">Categories</button>
                <div class="dropdown-content">
                    {% for category in categories %}
                        <a href="{% url 'show_category' type=category %}">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        {% for item in items %}
            {% if item.active %}
            <a href="{% url 'item_page' item_id=item.id %}">
                <div class="auctionItem rounded border border-primary" style="position: relative;">
                    <image class="itemPicture" src="{{ item.item_picture }}" alt="{{ item.title }}"></image>
                    <div>
                        <h5>{{item.title}}</h5>
                        <p class="lead"><small>{{item.description|truncatechars:50}}</small></p>
                        <h6><strong>Starting price: </strong>${{item.starting_bid}}</h6>
                        <h6 class="small">Posted by: {{item.owner.username}}</h6>
                    </div>
                    <div class="small" style="position: absolute;top: 8px;right: 16px; padding: 6px; " >{{ item.category }}</div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    {% else %}
            <p class="lead"><i>Please sign in!</i></p>
    {% endif %}
{% endblock %}