html,body{
    margin: 2px;
    background-color: whitesmoke;
}

#container-id{
    margin: 3px;
}

textarea {
    min-height: 400px;
}

.email-div{
    display: flex;
    justify-content: space-between;
    padding: 20px 5px 20px 5px;
    /* margin: 10px; */
}

.email-div:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.email-div h6{
    margin-right: 10px;
}

#email-show{
    flex-direction: column;
}

#email-show *{
    margin-top: 14px;
}

#reply-btn{
    align-self: flex-start;
}

#archive-btn{
    margin-top: 10px;
    align-self: flex-end;
}

.recipients{
    display: flex;
    justify-content: space-between;
}

.recipients *{
    /* margin-right: 45px; */
    font-weight: 300;
    font-size: smaller;
}

hr{
    margin: 0.5px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: whitesmoke;
    }
  }